body {
  background-color: #1e1e1e;
  overflow-x: hidden; /* 사이드바 나올 때 스크롤 안 생기게 */

}
.container {
display: flex;
flex-direction: column;
align-items: center;

}
.header {
  margin: 20px 10px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  position: relative;
}

nav {
width: 388px;
}

.navbar ul {
  width: 100%;
  height: 100%;
  background-color: hsl(225, 30%, 11%);
  border-radius: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  color: #ffffff;
  margin: 0 15px;
  flex: 1;
  text-align: center;
}

main {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.main__img {
  width: 500px;
  margin-top: 230px ;
  margin-bottom: 10px;
}

.main__content {
  text-align: center;
  color: #eeeeee;
}

.main_btnContainer {
  display: flex;
  justify-content: center;
  
}

.main_btn {
  width: 134px;
  height: 48px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #292929;
  border: none;
  color: #ffffff;
}

 .hamburger {
      display: none;
      font-size: 28px;
      cursor: pointer;
      position: absolute;
      right: 10px;
    }

 /* 모바일에서 스타일 바꾸기 */
    @media (max-width: 640px) {
      .navbar{
        display: flex;
        justify-content: end
      }

      .navbar ul {
        display: none; /* 처음엔 안 보이게 */
        flex-direction: column;
        gap: 10px;
        background: #1e1e1e;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 8px;
      }

      .navbar ul.active {
        display: flex; /* 햄버거 클릭하면 나타남 */
      }

      .hamburger {
        display: block;
        color: #ffffff;
        width: 20px;
        user-select: none;
        z-index: 100;
      }

    /* 사이드바 기본 (오른쪽에 숨겨둠) */
    .sidebar {
      position: fixed;
      top: 0;
      right: -300px; /* 화면 밖으로 밀어내기 */
      width: 250px;
      height: 100%;
      background: #333;
      color: #fff;
      padding: 2rem 1rem;
      transition: right 0.3s ease; /* 애니메이션 */
    }

    .sidebar.active {
      right: 0; /* 활성화되면 화면에 나타남 */
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
    }

    .sidebar ul li {
      margin: 1rem 0;
      cursor: pointer;
    }

   /* 햄버거 → X 토글 */
    .hamburger.active {
      content: "✖";
    }

    }