@import "tailwindcss";

/* 쉬머 애니메이션 */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background-size: 200% 100%;
  animation: shimmer 2s ease-in-out infinite;
}
