body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 500px;
}
.title{
    display: flex;
    justify-content: center;
    padding:100px;
}
.TodoList{
    width: 100%;
}
.TodoList__searchbar{
    width: 100%;
    height: 30px;
    border: 1px solid black;
}
.TodoList__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.TodoList__list p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom:2px solid black;
}
.TodoList__todo{
    display: flex;
    width: 200px;
    flex-direction: column;
}
.TodoList__todo ul{
    padding:0;
}
.TodoList__done{
    display: flex;
    width: 200px;
    flex-direction: column;
}
.TodoList__done ul{
    padding:0;
}
#todo-list li{
    display: flex;
    justify-content: space-between;
    margin:0;
    width: 70%;
    padding:20px;
    list-style-type: none;
    border-bottom: 2px solid black;
}
#todo-list button{
    background-color:skyblue;
    border: none;
}
#done-list li{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding:20px;
    list-style-type: none;
    border-bottom: 2px solid black;
}
#done-list button{
    background-color:skyblue;
    border: none;
}