* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: #ebf6f7;
  justify-content: center;
  align-items: center;
}
.todo-container {
  width: 800px;
  align-items: center;
}
.todo-container__header {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.todo-container__form {
  display: flex;
  margin-top: 20px;
}
.todo-container__input {
  flex: 1;
  font-size: 16px;
  padding: 16px;
  font-style: italic;
}

.render-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.render-container__section {
  width: 100%;
  text-align: left;
}
.render-container__title {
  font-size: 18px;
  margin-top: 15px;

  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.render-container__list {
  list-style: none;
  padding: 0;
  margin-top: 80px;
}

.render-container__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 10px; */
  padding: 10px 0px;
  margin: 0 auto;
  /* margin: 0 auto; */
  width: 50%;
  font-size: 18px;
  font-weight: bold;

  border-bottom: 4px solid #cbd2e1;
}

.render-container__item-text {
  flex: 1;
}
.render-container__item-button {
  background-color: #cbd2e1;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 6px 6px;
  transition: background-color 0.3s ease;
}
